{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
  <h1>Foot prediction app using<br>Flask, Celery, Redis and PostgreSQL</h1>
  <hr><br>


    <h3>Match</h3>
    <label for="multi-select">Please select a soccer match to analyse</label>
    <div class="select select--multiple">
      <select onchange="handleClick(1)" id="multi-select" multiple>

        {% for match in matches %}    
        <option value="{{ match.tm1_names }} {{ match.tm2_names }} {{ match.id }}">{{ match.tm1_names }} {{ match.tm2_names }} {{ match.dates }}</option>
        {% endfor %}

      </select>
      <span class="focus"></span>
    </div>


    <br><br><br>
    <p id="result">select a match to start prediction</p>


  <br><br>
  <div>
    <h3>Task Status</h3>
    <br>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Time</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody id="tasks">
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
